table.dataTable thead .sorting_asc, table.dataTable thead.sorting_desc {
        background : none;
}
table.dataTable td .select {
        cursor:pointer;
}
table.dataTable td .remove {
        cursor:pointer;
}
table#activelayerlist td .layer_title {
        cursor:pointer;
}
.layer_title {
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: bold;
}
.layer_abstract {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: monospace,serif;
    font-size:0.6em;
}
