table.dataTable thead .sorting_asc, table.dataTable thead.sorting_desc {
        background : none;
}
table.dataTable td .select {
        cursor:pointer;
}
table.dataTable td .remove {
        cursor:pointer;
}
table#activelayerlist td .title {
        cursor:pointer;
}
